<div>
   
   <div class="main-image">
       
       
   </div>
    
    <div id="countdown">
        Dias: <span>365</span> Horas: <span>2087</span> Minutos: <span>76537</span> Segundos: <span>7635</span>            
    </div>  
            
    <div class="box">       
        <h1><a href="#/ceremony">La Ceremonia</a></h1>
        <h3>Colima, Mexico</h3>        
    </div><!--
       
    --><div class="box">
        <h1>Confirmar Asistencia</h1>        
    </div><!--   
        
    --><div class="box">
        <h1>Ver la transmision de la Ceremonia en vivo</h1>        
    </div><!--
    
    --><div class="box">    
    <h1>Buzón de ¡Felicitaciones!</h1> 
    </div>
    
</div>