/**
 * File name: css/main.css
 * CSS =  Cascade Style Sheet
 * This is the main style file
 * Selector { reglas }
 */

/* This slects the body tag */
html, body{
  margin: 0;
  padding: 0;
  height:100%;
}

body{
  background-color: #eee;
  font-size:14px;
  font-family:sans,verdana;
  overflow:hidden;
}

header{

  height:100%;
  width:100%;
  margin: 0;
  padding: 0;
}
#splash{
  background: #996940 url(../img/cardboard_01.jpg) repeat top left;
  height:100%;
  font-family: 'Dancing Script', cursive;
  font-size:2em;
}

#waxSeal{
  position:relative;
  top:50%;
  height:230px;
  width:300px;
  background: #996940 url(../img/r-wax-seal.jpg) no-repeat center center;
  margin: 0 auto;
}

main{

}
footer{
  background-color:#444;
  color:#eee;
  bottom:0;
  padding:12px 26px;
}

/* this selects the Id */
#mainMenu{
  background-color: red;
  font-weight:bold;
  position:relative;
  top:-80px;
}
#mainMenu a{
  color:white;
  bottom: 0;
  font-size: 1.2em;
}

/* This selects a class */
ul.menu{
  list-style: none;
  margin:0;
}

ul.menu li{
  display: inline;
}

ul.menu li a{
  text-decoration: none;
  padding: 12px 6px;
  display:inline-block;
}

ul.menu li a:hover{
  background-color: #4444dd;
  color:pink;
}

