
.main-image{
	background: url(main.jpg) center center no-repeat;
	height: 600px;
}

#iniciosesion {
	display: block;
	text-align: right;
}

.letter{
	background-color: #594d56;
	/*color:#dcd0c0;*/
	color:#efefef;
}

.letter-date, .letter-signature{
	font-family:  'Pinyon Script', cursive;
	font-size: 1.2rem;
}
.letter-date{
	text-align: left;
}
.letter-signature{
	text-align: right;
}

.letter .box-border{
	border-color: #dcd0c0;
}
