header>h1 {
	font-family: 'Pinyon Script', cursive;
	font-size: 80px;
	font-weight: 400;
}

header>h3 {
	font-size: 1em;
}

nav#main-nav ul{
	text-align: center;
	font-size: 1.3em;
}

/*
Los anclas tienen por defecto display inline, colocamos inline-block para que acepte el padding
 */
nav#main-nav a{
	padding: 0.4em 0.6em;
}

#countdown {
	font-size: 2em;
	text-align: center;
	background: black;
	color: white;
}

#countdown>span {
	font-weight: 700;

}
.main-image{
	background: grey;
	width: 100%;
	height: 600px;
}

.box{
	min-height: 300px;
	background: #666;
	box-sizing: border-box;
	overflow: hidden;
	padding: 5px 15px;
}

.title-gallery{
	margin: -35px;
	margin-left: 20px;
	color: white;
	text-shadow: 1px 1px 3px black; 
}
