header>h1 {
	font-family: 'Pinyon Script', cursive;
	font-size: 80px;
	font-weight: 400;
}

header>h3 {
	font-size: 1em;
}

nav#main-nav ul{
	text-align: center;
	font-size: 1.3em;
	background: black;
}

/*
Los anclas tienen por defecto display inline, colocamos inline-block para que acepte el padding
*/
nav#main-nav a{
	padding: 0.4em 0.6em;
}

#countdown {
	font-size: 2em;
	text-align: center;
	background: black;
	color: white;
}

#countdown>span {
	font-weight: 700;

}
.main-image{
	background: url(main.jpg);
	background-repeat: no-repeat;
	background-position: center;
	width: 100%;
	height: 500px;
}

.box{
	min-height: 300px;
	background: #666;
	box-sizing: border-box;
	overflow: hidden;
	padding: 5px 15px;
}

.title-gallery{
	margin-left: 20px;
	color: white;
	text-shadow: 1px 1px 3px black;
}

.content{
	padding: 0 25px;
}

/*____Formulario de mensajes para los novios__________*/
#login {
	background-image: linear-gradient( to top, #fff, #eee);
	width: 450px;
	height: 300px;
	border-radius: 10px;
	padding: 6px;
	margin: auto;
	box-shadow: 0px 10px 10px 5px #C0C0C0;
}
fieldset{
	border: none;
}
h2#buzon{
	text-align: center;
	text-shadow: 0 2px 1px #DCDCDC;
	margin: 0;
}
#boton {
	margin-right: 30px;
	width: 100px;
	font:  bold 15px Arial;
	border: 1px solid #DAA520;
	cursor: pointer; /*aparecerá la manito encima del boton NEW (for me)!!*/
	padding: 5px;
}
div#formulario {
	padding: 25px;
	margin: auto;
	border: 1px dashed #ccc;
	width: 396px;
	height: 245px;
}
h2#buzon::after, h2#buzon::before {
	content: " ";
	height: 1px;
	width: 120px;
	display: inline-block;
	position: relative;
	top: -3px;
}
h2#buzon::after {
	background-image: linear-gradient(to right, #777, #fff);
	left: 20px;
}
h2#buzon::before {
	background-image: linear-gradient(to left, #777, #fff);
	right: 20px;
}
input{
	display: block;
	background: #f1f1f1;
	padding: 3px 3px 3px 10px;
	margin: 0 0 15px 0;
	display: block;
	width: 370px;
	height: 35px;
	border: 1px solid #ccc;
	border-radius: 5px;
	box-shadow: 0 1px 1px #ccc inset;
}
#boton:hover{
	background: #fddb6f;
	background-image: linear-gradient(to top, #ffb94b, #fddb6f);

}
/*____fin formulario de mensajes para los novios__________*/
#iniciosesion {
	display: block;
	text-align: right;
}
p.ceremonymessage{
	margin: 50px;
}
li{
	list-style: none;

}
.mesas{
	background: url(../components/gallery/photos/mesas.jpg) center center no-repeat;
	background-size: cover;
	opacity: 0.3;
}
div.mesa{
	text-align: center;
	
}
.mesas ul {
	padding: 0;
	color: black;
	font-weight: bold;
}
div.mesa{
	text-align: center;
}
/* gallery */
#noviazgo {
	background: url(../components/gallery/photos/noviazgo/1.jpg);
	background-size: cover;
	height: 300px;
}
	
#compromiso	{
	background: url(../components/gallery/photos/compromiso/1.jpg);
	background-size: cover;
	height: 300px;
}
#despedida {
	background: url(../components/gallery/photos/despedida/1.jpg);
	background-size: cover;
	height: 300px;
}
#preboda {
	background: url(../components/gallery/photos/preboda/1.jpg);
	background-size: cover;
	height: 300px;
}
#boda{
	background: url(../components/gallery/photos/boda/1.jpg);
	background-size: cover;
	height: 300px;
}	
#luna-de-miel {
	background: url(../components/gallery/photos/luna-de-miel/1.jpg);
	background-size: cover;
	height: 300px;
}
/* end gallery */


/* Card */
.card{
	padding: 8px;
	border-radius: 6px;
	background: beige;
}

.card-profile-photo, .card-content{
	display: inline-block;
  letter-spacing: normal;
  vertical-align: top;
}
.card-profile-photo{
	background-color: black;
	width: 120px;
	height: 120px;
	border-radius: 6px;
}
.card-content{
	padding-left: 10px;
	box-sizing: border-box;
}
