<div class="hero">
    <h1 class="center main-title">La Ceremonia</h1>
    <p>Después de algunos años viviendo en México y Venezuela, llamadas telefónicas, mensajes de texto, videollamadas y vacaciones juntos, finalmente hemos tomado la decisión de casarnos!!!
    Te invitamos a compartir esta celebración con nosotros y ser parte de este evento especial en nuestras vidas.</p>
</div>

<div class="grid">

	<div class="unit-1">
		<h1 class="center main-title">Encuentra tu lugar</h1>
	</div>
	
	<div class="mesa unit-1-5" >
	<h2>Mesa N° 1</h2>
	<ul>
		<li>Karen Rivera</li>
		<li>Felipe Rivera</li>
		<li>Stephania Rivera</li>
		<li>Gloria Gonzalez</li>
	</ul>
	</div>  
      
    
   <div  class="mesa unit-1-5">
   <h2>Mesa N° 2</h2>
   <ul>
    <li>Jorge Rivera S</li>
    <li>Sergio M Rivera</li>
    <li>Eury Rivera</li>
    <li>Juan Carlos Mata</li>
    <li>Axel Mata</li>            
    <li>Irak Garcia</li>
    <li>Andrea Rivera</li>
    <li>Staphania de Sergio </li>
   </ul>
    </div>
    
   <div  class="mesa unit-1-5">
   <h2>Mesa N° 3</h2>
   <ul>
    <li>Jorge Rivera S</li>
    <li>Sergio M Rivera</li>
    <li>Eury Rivera</li>
    <li>Juan Carlos Mata</li>
    <li>Axel Mata</li>            
    <li>Irak Garcia</li>
    <li>Andrea Rivera</li>
    <li>Staphania de Sergio </li>
   </ul>
        
    </div>
    
   <div  class="mesa unit-1-5">
   <h2>Mesa N° 4</h2>
   <ul>
    <li>Jorge Rivera S</li>
    <li>Sergio M Rivera</li>
    <li>Eury Rivera</li>
    <li>Juan Carlos Mata</li>
    <li>Axel Mata</li>            
    <li>Irak Garcia</li>
    <li>Andrea Rivera</li>
    <li>Staphania de Sergio </li>
   </ul>
        
    </div>
    
    
   <div  class="mesa unit-1-5">
   <h2>Mesa N° 5</h2>
   <ul>
    <li>Jorge Rivera S</li>
    <li>Sergio M Rivera</li>
    <li>Eury Rivera</li>
    <li>Juan Carlos Mata</li>
    <li>Axel Mata</li>            
    <li>Irak Garcia</li>
    <li>Andrea Rivera</li>
    <li>Staphania de Sergio </li>
   </ul>
        
    </div>
    
</div>

<div class="unit-1">
<h2 class="center">Ubica la Ceremonia</h2>
<p>Direccion: Avenida Sucre Numero de Casa 83, Sector el Mercadito, Barrancas Estado Barinas </p>	
	
	
	
	
</div>
