<div><h1 class="center main-title">Galerias de Fotos</h1>

</div>

<div class="grid">
<div class="unit-1-2" id="noviazgo"> 
	<a href="#/gallery/01/photo/01">
		<h2 class="title-gallery">Noviazgo</h2>
	</a>
</div>

<div class="unit-1-2" id="compromiso"> 
<a href="#">
		<h2 class="title-gallery">Compromiso</h2>
	</a>
</div>


<div class="unit-1-3" id="despedida"> 
<a href="#">
		<h2 class="title-gallery">Despedida solteros</h2>
	</a>	
</div>

<div class="unit-1-3" id="preboda"> 
<a href="#">
		<h2 class="title-gallery">Pre-Boda</h2>
	</a>	
</div>

<div class="unit-1-2" id="boda"> 
<a href="#">
		<h2 class="title-gallery">Boda</h2>
	</a>	
</div>

<div class="unit-1-2" id="luna-de-miel"> 
<a href="#">
		<h2 class="title-gallery">Luna de miel</h2>
	</a>	
</div>



</div>

