<div><h1 class="center main-title">Galerias de Fotos</h1>
<p>Descarga aquí imagenes de la boda, bla bla bla bla</p>
</div>

<div class="grid">
<div class="noviazgo unit-1-2"> 
	<a href="#/gallery/01/photo/01">
		<h2 class="title-gallery">Noviazgo</h2>
	</a>
</div>

<div class="gallery unit-1-3"> 
<a href="#">
		<h2 class="title-gallery">Compromiso</h2>
	</a>
</div>

<div class="gallery unit-1-3"> 
<a href="#">
		<h2 class="title-gallery">Despedida soltero</h2>
	</a>	
</div>

<div class="gallery unit-1-3"> 
<a href="#">
		<h2 class="title-gallery">Pre-Boda</h2>
	</a>	
</div>

<div class="gallery unit-1-3"> 
<a href="#">
		<h2 class="title-gallery">Boda</h2>
	</a>	
</div>

<div class="gallery unit-1-2"> 
<a href="#">
		<h2 class="title-gallery">Luna de miel</h2>
	</a>	
</div>

<div class="gallery unit-1-3"> 
<a href="#">
		<h2 class="title-gallery">Otra Galeria</h2>
	</a>	
</div>

</div>

