<div>
	
	<h1>Los padrinos</h1>		

<div>
	<h2>Mauricio Solis</h2>
	<img src="carita.png" width="70" hight="70"/>
	<p>Escogi a Mau porque es una rata grandota</p>
</div>
		
<div>		
	<h2>Josue Rivera</h2>
	<img src="carita.png" width="70" hight="70"/>
	<p>Escogi a Mau porque es una rata grandota</p>
</div>
		
<div>		
	<h2>Guillermo Aparicio</h2>
	<img src="carita.png" width="70" hight="70"/>
	<p>Escogi a Mau porque es una rata grandota</p>
</div>
		
</div>
	
	<!--Madrinitas-->
	
	<h1>Las Madrinas</h1>		

<div>
	
<div>
	<h2>Betsy Torrealba</h2>
	<img src="carita.png" width="70" hight="70"/>
	<p>Escogi a betsy porque es parte de mis mejores amigas </p>
</div>
	
	
<div>		
	<h2>Rosaly Quintero</h2>
	<img src="carita.png" width="70" hight="70"/>
	<p>Escogi a Mau porque es una rata grandota</p>
	</div>
	
	
<div>		
	<h2>Melissa Ribas</h2>
	<img src="carita.png" width="70" hight="70"/>
	<p>Escogi a Mau porque es una rata grandota</p>
</div>
	
	
</div>
