<div class="grid">
	<div class="unit-1-2">

		<h1>Los padrinos</h1>

		<div class="grid card">
			<div class="card-profile-photo">
				<img src="" alt="">
			</div>
			<div class="card-content">
				<h2>Mauricio Solis</h2>
				<p>Escogi a Mau porque es una rata grandota</p>
			</div>
		</div>

		<div>
			<h2>Josue Rivera</h2>

			<p>Escogi a Mau porque es una rata grandota</p>
		</div>

		<div>
			<h2>Guillermo Aparicio</h2>

			<p>Escogi a Mau porque es una rata grandota</p>
		</div>

	</div>

	<!--Madrinitas-->

	<div class="unit-1-2">
		<h1>Las madrinas</h1>



		<div>
			<h2>Betsy Torrealba</h2>

			<p>Escogí a Betsy, como parte de mis madrinas porque nos conocemos desde el bachillerato, estudiamos juntas en la universidad e hicimos una fuerte amistad</p>
		</div>


		<div>
			<h2>Rosaly Quintero</h2>

			<p>Rosaly, es mi amiga desde la infancia...............</p>
		</div>


		<div>
			<h2>Melissa Ribas</h2>

			<p>Escogi a Mau porque es una rata grandota</p>
		</div>

	</div>
</div>
