<div class="grid">
	<div class="unit-1-2">

		<h1>Los padrinos</h1>

		<div class="card">
			<div class="card-profile-photo">
				<img src="" alt="">
			</div>
			<div class="card-content">
				<h2>Mauricio Solis</h2>
			</div>
		</div>
		
		<div class="card">
			<div class="card-profile-photo">
				<img src="" alt="">
			</div>
			<div class="card-content">
				<h2>Josue Rivera</h2>
			</div>
		</div>
		
		<div class="card">
			<div class="card-profile-photo">
				<img src="" alt="">
			</div>
			<div class="card-content">
				<h2>Guillermo Aparicio</h2>
			</div>
		</div>
		
		<div class="card">
			<div class="card-profile-photo">
				<img src="" alt="">
			</div>
			<div class="card-content">
				<h2>Pedro Pepez</h2>
			</div>
		</div>

	</div>

	<!--Madrinitas-->

	<div class="unit-1-2">
		<h1>Las madrinas</h1>

		<div class="card">
			<div class="card-profile-photo">
				<img src="" alt="">
			</div>
			<div class="card-content">
				<h2>Betsy Torrealba</h2>
			</div>
		</div>

		<div class="card">
			<div class="card-profile-photo">
				<img src="" alt="">
			</div>
			<div class="card-content">
				<h2>Rosaly Quintero</h2>
			</div>
		</div>

		<div class="card">
			<div class="card-profile-photo">
				<img src="" alt="">
			</div>
			<div class="card-content">
				<h2>Melissa Ribas</h2>
			</div>
		</div>
		
		<div class="card">
			<div class="card-profile-photo">
				<img src="" alt="">
			</div>
			<div class="card-content">
				<h2>Maria Guedez</h2>
			</div>
		</div>
		
		
		
		
	</div>
</div>

